*~
*.aux
*.fdb_latexmk
.*.swp
/*.bak
/*.bbl
/*.blg
/*.dvi
/*.fls
/*.log
/*.out
/*.toc
latex.out
/bibexport.bib
/die.tar.gz
/rev.tex
/abstract.txt
/aspell.words
.aspell.words
/*.synctex.gz
/code/*.tex
!/code/fmt.tex
!/figs/*.pdf
!/figs/*.eps
!/data/*.pdf
!/data/*.eps
.latexrun.db
.latexmkrc
.DS_Store
/auto
/bin
/conf.bib
/data/color
/lab.bib
/sty
